*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; 
    
 }
 body{
    background: linear-gradient(rgba(0,0,0,0.6),goldenrod);
    color: #fff;
    /*incase you want a visible border*/
    /*
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    */
 }
 #header{
    width: 100%;
    height: 100vh;
   
 }
 .container{
    padding: 10px 10%;
 }
 .header-text{
    margin-top: 24%;
    font-size: clamp(1.875rem, 1.8697rem + 0.565vw, 2.1875rem);
    display: flex;
    justify-content: center;
    letter-spacing: 1em;
 }
 nav .fa,nav .fas{
  display: none;
}

  .header-text::before,
  .header-text::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid white;
    width: 34%;
    top: 51%;
  }
  
  .header-text::before {
    left: -2.5%;
    transform: translateY(-50%);
  }
  
  .header-text::after {
    right: 0%;
    transform: translateY(-50%);
  }
  
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;  
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: clamp(0.6875rem, 0.6862rem + 1.0022vw, 1.25rem);
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s ;
}
/*Shows underline design*/
nav ul li a:hover::after{
    width: 100%;
}
/*About section*/
#About{
  padding: 150px 0;

}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-pic{
  width: 100%;
  border-radius: 15%;
  flex-basis: 30%;
  margin-top: 20px;
}
.about-col-pic img{
  padding-top: 10px;
}

.about-col2-desc{
  flex-basis: 45%;
}
.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  padding-bottom: 10px;
}
.about-col2-desc p{
  font-size: 19px;
  margin-top: 20px;
  line-height: 2;
  padding-top: 80px;
}
/*Accolades*/
#Accolades{
  padding: 150px 0;
}
.accolades-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.bottom-image{
  display: none;
  /*filter: blur(5px);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 70%);*/
}

.btn-see-more {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-see-more:hover {
  background-color: goldenrod;
}

.champ{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.champ img{
  width: 100%;
  border-radius: 15px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),goldenrod);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
}
.layer h3{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: height 0.5s;
}
.champ:hover img{
  transform:scale(1.1);
}
.champ:hover .layer{
  height: 100%;
}
.btn{
 display: block;
 margin: 50px auto;
 width: fit-content;
 border: 1px solid goldenrod;
 padding: 14px 50px;
 border-radius: 6px;
 text-decoration: none; 
 color: #fff;
 transition: background 0.5s;
}
.btn:hover{
  background: goldenrod;
}
/*Members*/
#Members {
  padding: 150px 0;
}

.members-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
  justify-content: center;
}

.extra-members-list {
  display:flex;
  justify-content: center;
  align-items: center;
  grid-gap: 1px; /* Reduce the grid gap to make it closer */
  flex-wrap: wrap;
}


.player, .player-center {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.player img, .player-center img {
  width: 100%;
  border-radius: 60%;
  display: block;
  transition: transform 0.5s;
}

.player-layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), goldenrod);
  border-radius: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
}
.player-center-layer{
  width: 74%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.6),goldenrod);
  border-radius: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
}
.player-center img {
  width: 70%;
}

.player-layer h3, .player-center-layer h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: height 0.5s;
}

.player:hover img, .player-center:hover img {
  transform: scale(1.1);
}

.player:hover .player-layer, .player-center:hover .player-center-layer {
  height: 100%;
}
/*Apply*/
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #fff;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: white;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color:black;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: black;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border:0;
  outline: none;
  background: white;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 25px 0;
  background: black;
  font-weight: 300;
  margin-top: 20px;
}

#msg{
  color: white;
  margin-top: -40px;
  display: block;
}
.return{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 20px;
  color:goldenrod;
  background: #262626;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 2px 5px goldenrod;
}
@media only screen and (max-width:600px){
  #menu{
    font-size: large;
  }
  .header-text{
    padding-top: 145px;
    padding-left: 25px;
    font-size: 23px;
    font-weight: 600; 
  }
  .sub-title{
    font-size: 40px;
  }
  .members-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
    justify-content: center;
  }
  .extra-members-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 10px;
    justify-content: center;
  }
  .player-center img{
    width: 100%;
  }
  .contact-left{
    flex-basis: 90%;
  }
  .contact-right{
    flex-basis: 90%;
  }
  
  nav .fa, nav .fas{
    display: block;
    font-size: 25px;
}
  nav ul{
    background: goldenrod;
    position: fixed;
    display: block;
    top: 0;
    right: -200px;
    width: 200px;
    height: 150vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
  nav ul li{
    display: block;
    margin: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    
}
nav ul li a{
  font-size: 20px;
}

  nav .fas{
    position: absolute;
    top: 265px;
    left: 160px;
    cursor: pointer;
}
  nav ul .fa{
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  
}
  .header-text::before,
  .header-text::after {
    content: "";
    position: absolute;
    border-bottom: 4px solid white;
    width: 34%;
    top: 51%;
  }
  
  .header-text::before {
    left: -2.5%;
    width: 45%;
    transform: translateY(-50%);
  }
  
  .header-text::after {
    right: 0%;
    width: 40%;
    transform: translateY(-50%);
  }  
  .about-col-pic img{
    width: 280px;
    height: 180px;
  }

  .about-col2-desc {
    flex-basis: auto;
  }
  .about-col2-desc p{
    padding-top: 5px;
  }
  
  .player-layer h3, .player-center-layer h3 {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .player-center-layer{
    width: 100%;
   
  }
}